<p style="color: green"><%= notice %></p>

<%= render @series %>

<div>
  <%= link_to "Edit this serie", edit_series_path(@series) %> |
  <%= link_to "Back to series", series_path %>

  <%= button_to "Destroy this serie", @series, method: :delete %>
</div>
