<p style="color: green"><%= notice %></p>

<%= render @documentary_film %>

<div>
  <%= link_to "Edit this documentary film", edit_documentary_film_path(@documentary_film) %> |
  <%= link_to "Back to documentary films", documentary_films_path %>

  <%= button_to "Destroy this documentary film", @documentary_film, method: :delete %>
</div>
